# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ScriptableObjects.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\juanl\UnityProjects\UnityTowerDefense\Assets\Components\Enemies\ScriptableObjects\.idea\.idea.ScriptableObjects.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
